body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    color: black;
    font-family: monospace;
    text-align: center;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
    border: 2px solid red;
    box-sizing: border-box;
    margin-top: -100px;
}

.gridBox {
    flex: 0 0 calc(100% / 3);
    height: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    font-size: 24px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 50px;
}


#player1Score {
    display: flex;
    border: 2px solid red;
    width: 350px;
    height: 50px;
    margin-left: -1300px;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 30px;
}